[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[core]
	editor = \"C:/Program Files (x86)/GitExtensions/GitExtensions.exe\" fileeditor
	autocrlf = input
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	type = cat-file -t
  	dump = cat-file -p
	hist = log --pretty=format:\"%C(yellow)%h [%ad]%C(reset) | %s%d %C(green)(%cr)%C(reset) by %C(blue)%an%C(reset)\" --graph --all --decorate --date=short

	; from alex’ s history 
 	history = log — graph — topo-order — decorate — oneline — boundary — date=iso — pretty=format:’%>|(20) %C(yellow)%h%C(reset) %C(green)%cd%C(reset) %<(20)%C(blue)%an%C(reset) %s%C(blue)%d%C(reset)’
 	history-all = log — graph — topo-order — decorate — oneline — boundary — date=iso — pretty=format:’%>|(20) %C(yellow)%h%C(reset) %C(green)%cd%C(reset) %<(20)%C(blue)%an%C(reset) %s%C(blue)%d%C(reset)’ — all
 	
 	; from https://www.durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/ 
 	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
 	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
 	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
 	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
 	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	le = log --oneline --decorate 	
[color]
	status = always 	
[user]
	name = Juliano Barbosa
	email = julianomb@gmail.com
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[http]
    sslVerify = false
    sslCAinfo = /bin/curl-ca-bundle.crt  
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[mergetool "threesome"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
    trustExitCode = true  
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE

# vim: set et :
